<h1>View and edit BrainSlice content</h1>
<div class="row">
    <div class="col-md-6">
        <div id="segment-list" ng-repeat="(id, segment) in segments">
            <h2>{{segment.name}}</h2>
            <p>{{segment.description}}</p>
            <a href="" ng-click="edit(id)">Edit this segment</a>
            <hr ng-show="!$last">
        </div>
    </div>
    <div class="col-md-6">
        <form ng-submit="save(form.id)" ng-show="editing">
            <div class="form-group">
                <label>Segment Name</label>
                <input type="text" ng-model="form.segment.name" class="form-control">
                <label>Segment Description</label>
                <textarea ng-model="form.segment.description" class="form-control"></textarea>
                <label>Label position</label>
                <input type="text" ng-model="form.segment.position" num-list class="form-control" placeholder="Enter a list of three comma-separated numbers">
            </div>
            <input type="submit" value="{{form.buttonText}}" class="btn btn-success">
        </form>
    </div>
</div>
